@{
    ViewData["Title"] = "About Us";
}

<div class="row">
    <div class="col-lg-6">
        <h1 class="display-4 mb-4">뮤직애</h1>
        <p>는 Children's dreams are as diverse as colors on a rainbow but achievable with LOVE. 라는 의미가 있으며 음악과 사랑을 전달하고자 하는 사명을 가지고 설립한 종합음악원입니다.</p>
        <p>악기를 배우는 목적은 다 다릅니다. 하지만 한가지 공통된 목표가 있다면 음악으로 아이들이 좀 더 행복해지길 바라는 부모의 마음일 것입니다. 오랜 경험으로 얻은 저의 티칭 노하우는 바로 이 부모의 마음입니다.
        <p>저의 모든 학생들은 배우는 교재가 조금씩 다르고 진도도 다 다릅니다. 획일적인 교육과정이 체계적으로 보일 수 있겠지만 학생들의 재능과 관심이 다 다르기 때문에 교육도 다 다른 방법으로 접근해야 합니다.</p>
        <p>제대로 배우는 것은 학원에 기본입니다. 그보다 더 중요한 것은 학생들이 제대로 인정받아야 한다는 것입니다. 교육 즉 Education은 지식을 넣어 주는 것이 아니라 밖으로 꺼내어 주는 것입니다. 저희 뮤직애는 바로 이 학생들의 진정한 재능을 발견하고 빛을 발할 수 있도록 최선을 다하고 있습니다.</p>
        <p class="lead">뮤직애 원장 조재은</p>
    </div>
    <div class="col-lg-6 d-flex align-items-center justify-content-center fadeInUp">
        <img src="~/images/Joe.png" alt="CEO Image" class="img-fluid rounded-circle shadow">
    </div>
</div>

<hr class="my-5">

<h2 class="mb-4">History</h2>
<div class="row">
    <div class="col-md-6">
        <h4>Education</h4>
        <img src="~/images/College.jpg" alt="University of XYZ" class="img-fluid rounded my-3" style="aspect-ratio: 5 / 3; object-fit: cover;">
        <ul>
            <li>경희대학교 음악대학 기악과 피아노 학사</li>
            <li>경희대학교 대학원 음악학 석사</li>
            <li>경희대학교 음악대학 기악과 피아노 조교</li>
            <li>University of Bergen - Grieg Academy</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4>Achievements</h4>
        <img src="~/images/Conduct.jpg" alt="Awards" class="img-fluid rounded my-3" style="aspect-ratio: 5 / 3; object-fit: cover;">
        <ul>
            <li>Uliken Hall 독주회</li>
            <li>Asian Ladys Group 초청 독주회 in Ryard</li>
            <li>ABRSM Accompanist in London</li>
            <li>London 2005 송년 음악회</li>
            <li>예술의 전당 리사이틀홀 연주</li>
            <li>Manila Sister of Maria 핸드벨과 합창단 지휘</li>
            <li>London Womens Choir Conductor</li>
            <li>New Gen Orchestra Conductor</li>
            <li>Asian American Christian Community Orchestra & Chorus Pianist</li>
            <li>International Little Mozart competition Teaching Award</li>
            <li>New Praise Support Society Best Teacher Award in New York</li>
        </ul>
    </div>
</div>