@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6 mb-4 mb-md-0" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <div class="main-logo"></div>
    </div>

    <div class="col-md-6 mb-4 mb-md-0" style="display: flex; justify-content: center; align-items: center;">
        <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel" style="width:85%; border-radius: 20px; overflow: hidden;">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="~/images/Hallway2.jpg" style="width:100%; height:auto;">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/Piano.jpg" style="width:100%; height:auto;">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/Outside.jpeg" style="width:100%; height:auto;">
                </div>
            </div>
            <a class="carousel-control-prev" href="#imageCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#imageCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
</div>

<div style="margin-top: 150px;">
    <h1 class="text-center">
        뮤직애는 어떤 곳인가요?
    </h1>
    <div class="row justify-content-center mt-5">
        <div class="col-md mb-4 mb-md-0">
            <img src="~/images/Teach.jpg" style="width:100%; height:auto; border-radius: 20px;">
            <div class="mt-4">
                <h1>
                    맞춤형 레슨
                </h1>
                <p>
                    학생부터 성인까지</br>
                    원하는 곡, 원하는 난이도
                </p>
            </div>
        </div>
        <div class="col-md mb-4 mb-md-0">
            <img src="~/images/Event.jpeg" style="width:100%; height:auto; border-radius: 20px;">
            <div class="mt-4">
                <h1>
                    연주회 이벤트
                </h1>
                <p>
                    나의 실력을 증명할 시간
                </p>
            </div>
        </div>
        <div class="col-md mb-4 mb-md-0">
            <img src="~/images/Practice.jpg" style="width:100%; height:auto; border-radius: 20px;">
            <div class="mt-4">
                <h1>
                    아무거나
                </h1>
                <p>
                    아무거나
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-md-5">
        <div class="col-md mb-4 mb-md-0">
            <img src="~/images/Teach.jpg" style="width:100%; height:auto; border-radius: 20px;">
            <div class="mt-4">
                <h1>
                    월말 평가
                </h1>
                <p>
                    얼마나 성장했는지 볼까?</br>
                    매달 원장님의 피드백을 받아보세요
                </p>
            </div>
        </div>
        <div class="col-md mb-4 mb-md-0">
            <img src="~/images/Event.jpeg" style="width:100%; height:auto; border-radius: 20px;">
            <div class="mt-4">
                <h1>
                    단계별 동일 고육비
                </h1>
                <p>
                    교육비 부담 NO!</br>
                    음악에 대한 사랑이면 충분합니다
                </p>
            </div>
        </div>
        <div class="col-md mb-4 mb-md-0">
            <img src="~/images/Practice.jpg" style="width:100%; height:auto; border-radius: 20px;">
            <div class="mt-4">
                <h1>
                    개인 연습실
                </h1>
                <p>
                    즐거운 나만의 시간
                </p>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 150px;">
    <h1 class="text-center">
        LOCATION
    </h1>
    <div class="row mt-4">
        <div class="col-md-8 mb-4 mb-md-0">
            <div id="map" class="map"></div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0 d-flex flex-column align-items-center justify-content-center">
            <h2>
                지금 놀러오세요!
            </h2>
            <a href="https://map.kakao.com/link/map/781056700" style="font-size: 20px; padding: 20px 25px; background-color: #F8A0F5;border-radius: 20px; text-decoration: none;">
                카카오맵 열기 &#8250&#8250
            </a>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2031e02467fd8d807eee88c1d7a9b711"></script>
<script>
    $(document).ready(function () {
        var carousel = $("#imageCarousel");
        setTimeout(function () {
            carousel.carousel("next");
        }, 800);
    });

    var markerPosition  = new kakao.maps.LatLng(37.480926726771806,127.14228989281123); 
    var marker = new kakao.maps.Marker({
        position: markerPosition
    });

    var mapContainer = document.getElementById('map'), 
    	mapOption = { 
        center: new kakao.maps.LatLng(37.480926726771806,127.14228989281123), 
        level: 3,
        marker: marker 
    };
    var map = new kakao.maps.StaticMap(mapContainer, mapOption);
</script>