@model Blog

@{
    ViewData["Title"] = "Edit Blog";
}

<form asp-controller = "Blog" enctype = "multipart/form-data">
    <div class = "border p-3 mt-4">
        
        <input id="titleInput" type="hidden" asp-for = "Id" value="@Model.Id" class = "form-control"/>
    
        <div class = "mb-3 row p-1">
            <label asp-for = "Title" class = "p-0"></label>
            <input id="titleInput" readonly disabled asp-for = "Title" class = "form-control"/>
            <span asp-validation-for = "Title" class = "text-danger"></span>
        </div>
        
        <div class = "mb-3 row p-1">
            <label asp-for = "Image" class = "p-0"></label>
            <img   
                    src= "@Model.Image"
                    style="width: 300px; height: auto; margin-top: 15px;"
                    onerror="this.src = '@Define.Azure.DEFAULT_IMAGE';"
                >
        </div>

        <div class = "mb-3 row p-1">
            <label asp-for = "Description" class = "p-0"></label>
            <textarea asp-for = "Description" class = "form-control"></textarea>
        </div>

        <button type = "submit" asp-action = "Update" method = "post" class = "btn btn-primary">
            +
        </button>
    </div>
</form>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            menubar: false,
            plugins: 'lists emoticons charmap',
            toolbar: 'undo redo | fontsize | forecolor backcolor | bold italic underline strikethrough | numlist bullist indent outdent | emoticons charmap',
        });

        document.getElementById("titleInput").addEventListener("keydown", function(event) {
            if (event.key === "Enter") {
                event.preventDefault();
            }
        });

    </script>
}