@{
    ViewData["Title"] = "Blog";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller = "Blog" enctype = "multipart/form-data">

    @if(User.Identity.IsAuthenticated)
    {
        <div class="mb-5 text-center" >
            <button asp-action = "Create" class = "btn btn-primary" type = "submit">
                Create
            </button>
        </div>
    }

    <div id="blogsContainer">
        <!-- Blogs will be loaded here -->
    </div>

    <div class="mb-5 text-center">
        <button id="loadMoreButton" class="btn btn-primary">Load More</button>
    </div>

</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var currentCount = 0;
    var takeCount = 6;

    $(document).ready(function () {
        // Load initial set of blogs
        loadNextBlogs(takeCount);

        // Load more blogs when button is clicked
        $('#loadMoreButton').click(function (event) {
            event.preventDefault(); // Prevent default form submission behavior
            loadNextBlogs(takeCount);
        });
    });

    // Function to load next set of blogs
    function loadNextBlogs(take) {
        $.ajax({
            url: '@Url.Action("GetNextBlogs", "Blog")',
            type: 'GET',
            data: { skip: currentCount, take: take },
            success: function (data) {
                $('#blogsContainer').append(data);
                currentCount += take; // Increment skip for next call
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }

    function handleImageError(image) {
        // Add class to the image
        image.classList.add('shadow-1-strong rounded blog-image-thumbnail');

        // Change the image source
        image.src = '@Define.Azure.DEFAULT_IMAGE';
    }
</script>